@page
@model APIPix.Pages.AnalyticsModel
@{
    ViewData["Title"] = "Análise de Transações";
}

<div class="container mt-4">
    <h2>Análise de Transações</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Endpoint</th>
                <th>Transações</th>
                <th>Erros</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AnalyticsData)
            {
                <tr>
                    <td>@item.Endpoint</td>
                    <td>@item.Transacoes</td>
                    <td>@item.Erros</td>
                </tr>
            }
        </tbody>
    </table>
</div>
